:host {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all ease-in-out .3s;
  z-index: 2;

  // Loading background
  &::before {
    content: '';
    background-color: #EEE;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  & > .spinner {
    display: block;
    position: absolute;
    top: calc(50% - calc(28px / 2));
    left: calc(50% - calc(28px / 2));
    width: 28px;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
    color: #CCC;
  }

  & > .inner-img {
    transition: visibility 0s linear, opacity .5s linear;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
  }

  &.img-loaded {
    // Hide loading background once the image has loaded
    &::before {
      display: none;
    }

    & > .inner-img {
      opacity: 1;
      visibility: visible;
    }

    & > .spinner {
      display: none;
      visibility: hidden;
    }
  }
}
