<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Ionic 4</ion-card-subtitle>
      <ion-card-title>Improving UX with App Shell Components</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Let me explain you the importance of adopting the <b>App Shell</b> pattern in your Ionic apps and show you how to implement it using Ionic 4, Angular 7 and some advanced CSS techniques.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-item-divider sticky="true">
    <ion-label>Route Resolves</ion-label>
  </ion-item-divider>
  <section class="demo-section">
    <p>
      Angular Route Resolves are a special kind of route guards. They enable us to pre-fetch data from the server before navigating to a route.
    </p>
  </section>
  <section class="demo-section">
    <h5>Blocking Resolver</h5>
    <p>
      By design, Angular Route Resolvers won't transition to the page until the resolved <code>Observable</code> completes.
    </p>
    <p>
      <b>Use case:</b> Let's suppose the backend is slow and takes 5 seconds to fetch data and return it to the client. The expected behavior for that scenario is that the page transition will be blocked for 5 seconds until the server sends data back to the client.
    </p>
    <p>
      A minimal improvement would be to show a loader while the resolved <code>Observable</code> completes.
    </p>
    <p>
      <ion-button expand="block" [routerLink]="['/blocking-resolver']">Blocking Resolver</ion-button>
    </p>
  </section>
  <section class="demo-section">
    <h5>Non Blocking Resolver</h5>
    <p>
      You can avoid waiting for the <code>Observable</code> to complete and have instant page transitions.
    </p>
    <p>
      The trade-off of this approach is that the waiting time gets passed to the page component you are navigating to.
    </p>
    <p>
      <ion-button expand="block" [routerLink]="['/non-blocking-resolver']">Non Blocking Resolver</ion-button>
    </p>
    <p>
      This also means that you will be responsible for unhandled errors that may cause navigating to unavailable pages.
    </p>
  </section>
  <section class="demo-section">
    <h5>Progressive Shell Resolver</h5>
    <p>
      By showing an app shell layout while loading data, we fix the waiting time issue caused when using non-blocking resolvers.
    </p>
    <p>
      <ion-button expand="block" [routerLink]="['/progressive-shell-resolver']">Shell Resolver</ion-button>
    </p>
  </section>

  <ion-item-divider sticky="true">
    <ion-label>App Shell Approaches</ion-label>
  </ion-item-divider>
  <section class="demo-section">
    <h5>Shell Overlays</h5>
    <p>
      This is a straightforward approach. We define both <b>shell</b> and <b>view</b> layouts and switch/animate the transition between them when page/business/view data is available.
    </p>
<pre>
&lt;ng-container *ngIf="!routeResolveData"&gt;
  <b>&lt;!-- Shell layout here --&gt;</b>
&lt;/ng-container&gt;

&lt;ng-container *ngIf="routeResolveData"&gt;
  <b>&lt;!-- View layout here --&gt;</b>
&lt;/ng-container&gt;
</pre>
  </section>
  <section class="demo-section">
    <h5>Inline Shells</h5>
    <p>
      This type of shells use the same layout (DOM elements) to present the loading state using the shell model and the real data once it’s available.
    </p>
<pre>
&lt;ion-row&gt;
  &lt;ion-col size="4"&gt;
    <b>&lt;app-image-shell class="add-spinner" [src]="routeResolveData?.image" [alt]="'Sample Image'"&gt;&lt;/app-image-shell&gt;</b>
  &lt;/ion-col&gt;
  &lt;ion-col size="8"&gt;
    &lt;h3&gt;
      <b>&lt;app-text-shell [data]="routeResolveData?.title"&gt;&lt;/app-text-shell&gt;</b>
    &lt;/h3&gt;
    &lt;p&gt;
      <b>&lt;app-text-shell lines="3" [data]="routeResolveData?.description"&gt;&lt;/app-text-shell&gt;</b>
    &lt;/p&gt;
  &lt;/ion-col&gt;
&lt;/ion-row&gt;
</pre>
  </section>

  <ion-item-divider sticky="true">
    <ion-label>App Shell Components</ion-label>
  </ion-item-divider>
  <section class="demo-section">
    <h5>Image Shell</h5>
    <p>
      This component basically shows a loading indicator while fetching an image source.
    </p>
    <p>
      By listening to the <code>(load)</code> event attached to the <code>&lt;img/&gt;</code> element, once the image has loaded, we hide the loader.
    </p>
    <p>
      <b>Note:</b> As the <code>[src]</code> property is empty, the <code>(load)</code> event won't get triggered and then the component will remain in it's <i>loading</i> state.
    </p>
<pre>
&lt;app-image-shell [src]="" [alt]=""&gt;&lt;/app-image-shell&gt;
</pre>
    <!-- These wrappers are just to maintain aspect ratio of the image (1:1) -->
    <div style="position: relative; padding-bottom: 100%; height: 0px;">
      <div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;">
        <app-image-shell [src]="" [alt]=""></app-image-shell>
      </div>
    </div>
  </section>
  <section class="demo-section">
    <h5>Text Shell</h5>
    <p>
      This component basically works by wrapping the text node with a loading indicator while you are fetching data.
    </p>
    <p>
      While there are empty values the component adds some <i>loading</i> styles and animations. Whereas while there are non empty values, the loading state is removed.
    </p>
<pre>
&lt;app-text-shell [data]="" lines="3"&gt;&lt;/app-text-shell&gt;
</pre>
    <p>
      <app-text-shell [data]="" lines="3"></app-text-shell>
    </p>
  </section>

  <ion-item-divider sticky="true">
    <ion-label>CSS Animations</ion-label>
  </ion-item-divider>
  <section class="demo-section">
    <h5>No Animation</h5>
    <p>
      Just the masked lines without any animation.
    </p>
    <div style="background-color: #FFF; padding: 20px; 10px">
      <div class="text-shell"></div>
    </div>
  </section>
  <section class="demo-section">
    <h5>Background Gradient</h5>
    <p>
      This animation works by setting a background gradient beneath some mask elements.
    </p>
    <div style="background-color: #FFF; padding: 20px; 10px">
      <div class="text-shell gradient-animation"></div>
    </div>
  </section>
  <section class="demo-section">
    <h5>Bouncing Lines Background</h5>
    <p>
      This animation works by animating the background-size property to achieve a <i>bouncing</i> effect.
    </p>
    <div style="background-color: #FFF; padding: 20px; 10px">
      <div class="text-shell bouncing-animation"></div>
    </div>
  </section>
</ion-content>
